.roundedstyle-button, .roundedstyle-profile {
	display: block;
	float: left;
	cursor: pointer;
	margin: 0 7px 7px 0 !important;
	transition: all 0.4s ease 0s !important;
	border: none !important;
	color: white !important;
}

.roundedstyle-button {
	padding: 3px 5px !important;
	line-height: 20px !important;
	border-radius: 20px !important;
	text-transform: uppercase !important;
	font-size: 12px !important;
	font-family: sans-serif !important;
	font-weight: bold !important;
}

.roundedstyle-button > .roundedstyle-title {
	display: inline-block;
	margin: 0 4px !important;
	letter-spacing: 0.5px !important;
	color: white !important;
}

a.roundedstyle-button[href^="mailto:"]::before, a.roundedstyle-profile[href^="mailto:"]::before {
    display: none !important;
}

.roundedstyle-button > .roundedstyle-title:hover, .roundedstyle-button > .roundedstyle-title:visited, .roundedstyle-button > .roundedstyle-title:active {
	color: white !important;
}

a.roundedstyle-button:hover, a.roundedstyle-button:visited, a.roundedstyle-button:active {
	color: white !important;
}

.roundedstyle-button svg, .roundedstyle-profile svg {
    fill: white;
    float: left;
}

.roundedstyle-button svg {
    height: 16px;
    width: 16px;
	margin: 2px;
}

.roundedstyle-profile {
	border-radius: 30px;
	padding: 10px;
}

.roundedstyle-profile svg {
	height: 27px;
	width: 27px;
}

.roundedstyle-button.facebook, .roundedstyle-profile.facebook {
	background: #3a589e;
}

.roundedstyle-button.facebook:hover, .roundedstyle-profile.facebook:hover {
	background: #2c4379;
}

.roundedstyle-button.twitter, .roundedstyle-profile.twitter {
	background: #00aced;
}

.roundedstyle-button.twitter:hover, .roundedstyle-profile.twitter:hover {
	background: #0087ba;
}

.roundedstyle-button.googleplus, .roundedstyle-profile.googleplus {
	background: #d34836;
}

.roundedstyle-button.googleplus:hover, .roundedstyle-profile.googleplus:hover {
	background: #b03626;
}

.roundedstyle-button.pinterest, .roundedstyle-profile.pinterest {
	background: #cd2029;
}

.roundedstyle-button.pinterest:hover, .roundedstyle-profile.pinterest:hover {
	background: #a11920;
}

.roundedstyle-button.linkedin, .roundedstyle-profile.linkedin {
	background: #0077b5;
}

.roundedstyle-button.linkedin:hover, .roundedstyle-profile.linkedin:hover {
	background: #005582;
}

.roundedstyle-button.instagram, .roundedstyle-profile.instagram {
    background: linear-gradient(45deg, #fccc63 10%,#fbad50 27%,#e95950 45%,#cd486b 56%,#bc2a8d 66%,#8a3ab9 78%,#4c68d7 97%);
}

.roundedstyle-button.instagram:hover, .roundedstyle-profile.instagram:hover {
	background: linear-gradient(45deg, #fbbc31 10%,#fa961e 27%,#e32e23 45%,#b23052 56%,#92216e 66%,#6d2e92 78%,#2c4bc4 97%);
}

.roundedstyle-button.github, .roundedstyle-profile.github {
	background: #fff;
}

.roundedstyle-button.github > svg, .roundedstyle-profile.github > svg {
	fill: #000;
}


.roundedstyle-button.github:hover, .roundedstyle-profile.github:hover {
	background: #e6e6e6;
}

.roundedstyle-button.soundcloud, .roundedstyle-profile.soundcloud {
	background: #ff3300;
}

.roundedstyle-button.soundcloud:hover, .roundedstyle-profile.soundcloud:hover {
	background: #cc2900;
}

.roundedstyle-button.youtube, .roundedstyle-profile.youtube {
	background: #cc181e;
}

.roundedstyle-button.youtube:hover, .roundedstyle-profile.youtube:hover {
	background: #9e1317;
}

.roundedstyle-button.rss, .roundedstyle-profile.rss {
	background: #f26522;
}

.roundedstyle-button.rss:hover, .roundedstyle-profile.rss:hover {
	background: #d44d0d;
}

.roundedstyle-button.print, .roundedstyle-button.mail, .roundedstyle-profile.mail {
	background: #777;
}

.roundedstyle-button.print:hover, .roundedstyle-button.mail:hover, .roundedstyle-profile.mail:hover {
	background: #5e5e5e;
}